
@media (max-width: 1000px) {
	.main{
		width: 100%;
		height: 150px;
		left: 0;
		overflow-x: hidden;
		top: 1;
		background: #C4C4C4;
		flex-direction: row;
		display: flex;
		justify-content: space-around;
	}

	.main a{
		color: white;
		font-size: 30px;
		text-decoration: none;
	}

	.main .logo{
		width: 100px;
		height: 100px;
		margin-left: 35px;
		margin-top: 15px;

	}



	.main .navbarlink{
		width: 180px;
		height: 70px;
		margin-left: 70px;
		margin-top: 14px;
		background: #000000;
		text-align: center;
	}




.container{
	left: 0;
	width: 100%;
	margin-top: 200px;
	width: 1000px;
	height: 50px;
	justify-content: center;

}


.mainDiv{
	display: flex;
	color: white;
	margin-right: 500px;
}


.block1{
	height: 300px;
	width: 400px;
	background: #C4C4C4;
	display: flex;
	border-radius: 5px;
}


.mainDiv2{
	display: flex;

	flex-direction:column;
	margin-left: 320px;
}






.block2{
	width: 300px;
	height: 400px;
	margin-top: 50px;
	background: #C4C4C4;
	border-radius: 5px
}

.rec{
	position: absolute;
	width: 301px;
	height: 100px;
	top: 850px;
	left: 628px;
	background: #000000;
	border-radius: 3px;
	color: white;
	text-align: center;
}


.rec button{
	width: 186px;
	height: 33px;
	margin-left: 17px;
	margin-top: 5px;
	border-radius: 5px;
	font-size: 20px;
}


.rec2{
	position: absolute;
	width: 300px;
	height: 100px;
	left: 628px;
	top: 1300px;
	background: #000000;
	border-radius: 3px;
	color: white;
	text-align: center;
}

.rec2 button{
	width: 186px;
	height: 33px;
	margin-left: 17px;
	margin-top: 5px;
	border-radius: 5px;
	font-size: 20px;
}


.rec3{
	position: absolute;
	width: 301px;
	height: 100px;
	left: 628px;
	top: 1760px;
	background: #000000;
	border-radius: 3px;
	color: white;
	text-align: center;
}

.rec3 button{
	width: 186px;
	height: 33px;
	margin-left: 20px;
	margin-top: 5px;
	border-radius: 5px;
	font-size: 20px;
}



.rec4{
	position: absolute;
	width: 300px;
	height: 100px;
	left: 628px;
	top: 2200px;
	background: #000000;
	border-radius: 3px;
	color: white;
	text-align: center;
}


.rec4 button{
	width: 186px;
	height: 33px;
	margin-left: 20px;
	margin-top: 5px;
	border-radius: 5px;
	font-size: 20px;
}



.rectangle{
	font-size: 25px;
	width: 1000px;
	height: 1453px;
	left: 40px;
	background: #C4C4C4;
}

.rectangle p{
	font-size: 35px;
	margin-left: 20px;
	color: black;
	margin-top: 100px;
}

.rectangle .block{
     float: left; 
     font-size: 40px;
     background: black;
     color: white;
     margin-top: 50px;
     width: 300px; 
     height: 200px;
     margin-right: 80px;
     margin-left: 85px;
     text-align: center; 
}



.aaa {
	display: flex;
	top: 500px;

}







}